
header img{
    min-width: 1;
    max-width: 700px;
}

body{
    background-color: #D890B0;
    font-family: 'Franklin Gothic Medium';
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%; 
}

h1{
    font-family: fantasy;
    font-size: 3rem;
    text-align: center;
}

h2{
    font-family: fantasy;
    font-size: 2rem;
}

header > img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}

nav ul{
    font-family: fantasy;
    list-style: none;
    text-align: center;
    background-color: white;
    padding: 5px;
    border-radius: 20px;
}

nav li{
    font-family: fantasy;
    display: inline-flex;
    padding: 5px;
}

.subareas a.link{
    color: black;
}

.subareas a.link:hover{
    color: #CA3368;
    
}

#container ul{
    list-style: none;
    display: inline-flex;
}

article{
    flex: 1;
}

img{
    width:  100%; height: auto;
}

.flexbox img{
    padding: 1em;
}

*{
    box-sizing: border-box;
}

ul img:hover{
 width: 400px;
}

div h4{
    text-align: center;
}

div h4::first-letter{
     font-size: x-large;
    color: #CA3368;
}

footer{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

footer img{
    max-width: 50px;
    max-height: 50px;
    border-radius: 20px;
    border-color: #CA3368;
    
}

#box1{
    min-width: 0;
    background-color: black;

}