
header img{
    min-width: 1;
    max-width: 700px;
}

body{
    background-color: pink;
    font-family: 'fantasy';
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%; 
}

h1{
    font-size: 3rem;
    text-align: center;
}

div h1:first-letter{
    font-size: 150%;
    color: white;
}

h2{
    font-size: 2rem;
}

html h3:hover{
    font-size: xx-large;
}

li h4:first-letter{
    font-size: x-large;
    color: rgb(151, 179, 226);
}

header > img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}

.subareas a.link{
    color: rgb(151, 179, 226);
}

.subareas a.link:hover{
    color: rgb(151, 179, 226);
    
}

nav ul{
    list-style: none;
    text-align: center;
    background-color: white;
    padding: 5px;
    border-radius: 20px;
}

nav li{
    display: inline-flex;
    padding: 5px;
}
body{
    background-color: pink;
}

article{
    flex: 1;
}

article img{
    background-color: black;
}

article h5{
    text-align: center;
}

img{
    width:  100%; height: auto;
}

#container ul{
    list-style: none;
    display: inline-flex;
    border-radius: 20px;
}

ul img{
    min-width: 0;
    max-width: 500px;
}

ul h3{
    text-align: center;
}

ul h4{
    display: table-cell;
    text-align: left;
    background-color: white;
}

article h5::first-letter{
    font-size: x-large;
    color: rgb(151, 179, 226);
}

ul h3::first-letter{
    font-family: fantasy;
    font-size: x-large;
    color: white;
}

.links{
    color: white;
    background-color: rgb(151, 179, 226);
    text-align: left;
    display: inline-block;
    min-width: 0;
    max-width: 500px;
    border: solid 2px pink;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
    transition: 0.2s ease;
    box-sizing: border-box;
    
}

.links.close {
    color: pink;
    margin-top: 21px;
    width: 100%;
    padding-top: 14px;
    text-align: center;
}

.links::after{
  color: pink;
}
   


footer{
    display: inline-flex;
    
    justify-content: center;
    align-items: center;
}

#box1{
    min-width: 0;
    max-width: 50px 50px;
    background-color: black;
}

#aSide {
    model-viewer {
        height: 600px;
        width: 600px;
        position: absolute;
        border: none;
    }
}

div img{
    max-width: 200px;
    max-height: 200px;
    border-style: ridge;
    border-radius: 20px;
}

/*likes counter*/
.like-counter {
    color: #000;
    text-decoration: none;
    margin-right: 5px;
      

  }
  .liked {
    font-weight: bold;
  }
  /*end*/